.contenedor_5 {
	/* max-width: 1280px; */
	height: 400px;
	width: 100%;
	margin: auto;
	background-color: #6090c3;
	margin-top: 20px;
	margin-bottom: 20px;
}
.header_5 {
	background-color: #fad7a0;
	background-size: cover;
	padding: 0;
}
.titular_5 {
	text-align: center;
}
.img_5 {
	width: 90px;
	margin-top: 70px;
	margin-bottom: 75px;
	border-radius: 30px;
}
.h1_5 {
	font-size: 40px;
	color: #e7934f;
	margin: 0;
	margin-bottom: 40px;
}

.a_5 {
	color: #ffffff;
	background-color: #eb542f;
	font-size: 15px;
	text-decoration: none;
	padding: 5px 30px 5px 30px;
}
